.mv-states {
  display: flex;
  gap: 20px;
  margin: 16px;
  font-size: 20px;
}

.mv-states__loading {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
  color: rgb(5, 70, 116);
}

.mv-states__loading__text {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
}

.mv-states__loading__text__subtitle {
  font-size: 16px;
  color: rgb(80, 80, 80);
}

.mv-states__json-view {
  flex: 1;
  padding: 10px;
  background-color: rgb(0, 43, 54);
  border-radius: 8px;
  height: 300px;
  overflow: scroll;
}

.mv-states__json-view > ul {
  padding: 10px;
}

.mv-states__stores {
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 150px;
}

.mv-states__stores__item {
  cursor: pointer;
  white-space: normal;
  width: 150px;
  overflow-wrap: break-word;
  color: #3889be;
  padding-bottom: 6px;
  border-bottom: 0.5px dashed #98d1f6;
}

.mv-states__stores__item--selected {
  font-weight: 600;
  text-decoration: underline;
}

.mv-states__stores__action {
  cursor: pointer;
  color: rgb(80, 80, 80);
  font-size: 16px;
}

.mv-states__stores__item:hover {
  text-decoration: underline;
}

.mv-states__stores__search {
  border: 1px solid #c5c3c3;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.mv-states__stores__search > input {
  height: 26px;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  padding-left: 8px;
  width: 100%;
}
